#copy {
    background: #fff;
    color: #6b6f80;
    font-weight: bold;
    padding: 8px 25px;
    border: 1px solid #ccc;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0;
}