<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title">{{'reject' | translate}}</h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/dashboard-hr/']" class="d-flex">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
          <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/vacation/vacations/']">
        {{"vacation" | translate}} </a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{'reject' | translate}}</li>
    </ol>
  </div>
</div>
<!--End Page header-->
<div class="card">
  <form  *ngIf="vacation" #rejectForm="ngForm" (ngSubmit)="onReject(rejectForm.value)" class="form-horizontal">
    
    <!-- *ngIf="vacation" -->
    <div class="card-header">
      <button type="submit" id="approve-vacation-form" class="btn btn-dark m-3">{{'YES' | translate}}</button>
      <a [routerLink]="['/vacation/vacations']" class="btn btn-light">{{'NO' | translate}}</a>
    </div> <h3 class="card-title alert alert-danger">
      {{'rejectedMessage' | translate}}  </h3>
      <!-- {{'rejectMessage' | translate}} {{ vacation.employee.employeeNameAr }}  </h3> -->


      <input type="hidden" ngModel="{{vacation.vacationId}}" name="vacationId" id="vacationId">
      <input type="hidden" ngModel="{{vacation.vacationType}}" name="vacationType" id="vacationType">
      <input type="hidden" ngModel="{{vacation.description}}" name="description" id="description">
      <input type="hidden" ngModel="{{vacation.approvedBy}}" name="approvedBy" id="approvedBy">
      <input type="hidden" ngModel="{{vacation.dateFrom}}" name="dateFrom" id="dateFrom">
      <input type="hidden" ngModel="{{vacation.dateTo}}" name="dateTo" id="dateTo">
      <input type="hidden" ngModel="{{vacation.attachment}}" name="attachment" id="attachment">
      
      <input type="hidden" ngModel="{{vacation.approve}}" name="approve" id="approve">
      <input type="hidden" ngModel="{{vacation.employee.employeeId}}" name="vacation.employee.employeeId" id="vacation.employee.employeeId">
  
  </form>




            </div>











