<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title">{{'Complaint' | translate}}</h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/international/']" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/international/complaint/complaint/']">{{'Complaint' | translate}}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{'DELETE' | translate}}</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->


            <div class="card">
              <form #delForm="ngForm" *ngIf="complaint" (ngSubmit)="onDeleteComplaint(delForm.value)" class="form-horizontal">
                <div class="card-header">

                  <button type="submit" id="delete-taskeen-form" class="btn btn-dark m-3">{{ 'YES' | translate }}</button>
                  <a [routerLink]="['/international/complaint/complaint']" class="btn btn-light">{{ 'NO' | translate }}</a>
                </div> <h3 class="card-title alert alert-danger">{{ 'CONFIRMDELETE' | translate }} ({{complaint.complaintProviderName}}) {{ 'Complaints' | translate }}   </h3>
                <input type="hidden" ngModel="{{complaint.complaintId}}" name="complaintId" id="complaintId">
                 <input type="hidden" ngModel="{{complaint.complaintDate}}" name="complaintDate" id="complaintDate">
                <input type="hidden" ngModel="{{complaint.details}}" name="details" id="details">
                <input type="hidden" ngModel="{{complaint.complaintProviderName}}" name="complaintProviderName" id="complaintProviderName">
                <input type="hidden" ngModel="{{complaint.documents}}" name="documents" id="documents">
                </form>




            </div>










