<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title">{{ 'JobTitle' | translate }}</h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="['/dashboard-hr/']" class="d-flex">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
        height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z"
        fill="none"/>
        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path
        d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
          {{ 'HOME' | translate }}</span></a></li>
                  <li class="breadcrumb-item"><a [routerLink]="['/job-titles/job-titles/']">
                    {{ 'JobTitle' | translate }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ 'PRINT' | translate }}</li>
		</ol>
	</div>
</div>
<!--End Page header-->
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header pb-0">
        &nbsp;&nbsp;&nbsp;
        <a (click)="printPage()" class="btn btn-default"><i class="fe fe-plus"></i>{{'Print' | translate}}</a>
      </div>
      <div class="card-body">
        <div class="table-responsive table-bordered table-hover table-striped">

          <table mat-table matSort [dataSource]="jobTitles">
            <ng-container matColumnDef="jobId">
              <th mat-header-cell  *matHeaderCellDef>{{ 'jobId' | translate }}</th>
              <th mat-cell *matCellDef="let jobTitle">{{ jobTitle.jobId }}</th>
            </ng-container>
            <ng-container matColumnDef="JobTitleName">
              <th mat-header-cell  *matHeaderCellDef>{{ 'CeateJobTitle' | translate }}</th>
              <th mat-cell *matCellDef="let jobTitle">{{ jobTitle.jobTitleName }}</th>
            </ng-container>
            <ng-container matColumnDef="centralJob">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'CentralJobs' | translate }}</th>
              <th mat-cell *matCellDef="let jobTitle">{{ jobTitle.centralJobs.centralJobName }}</th>
            </ng-container>
            <ng-container matColumnDef="jobCode">
              <th mat-header-cell  *matHeaderCellDef>{{ 'jobCode' | translate }}</th>
              <th mat-cell *matCellDef="let jobTitle">{{ jobTitle.jobCode }}</th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


        </div>
      </div>
    </div>
</div>


</div>
