<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title">{{'approved' | translate}}</h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/operation/']" class="d-flex">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
          <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/operation/ATMRequest/atm-requests/']">
        {{"ATMRequest" | translate}} </a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{'approved' | translate}}</li>
    </ol>
  </div>
</div>


<div class="card">
  <form *ngIf="aTMCardRequest" #approveForm="ngForm" (ngSubmit)="onApprove(approveForm.value)" class="form-horizontal">

    <div class="card-header">
      <button type="submit" id="approve-ATMRequest-form" class="btn btn-dark m-3">{{'YES' | translate}}</button>
      <a [routerLink]="['/operation/ATMRequest/atm-requests']" class="btn btn-light">{{'NO' | translate}}</a>
    </div> <h3 class="card-title alert alert-danger">
      {{'ApproveATMRequest' | translate}}     </h3>


      <input type="hidden" ngModel="{{ATMCardRequest.creditCardRequestId}}" name="creditCardRequestId" id="creditCardRequestId">
      <input type="hidden" ngModel="{{ATMCardRequest.date}}" name="date" id="date">
      <input type="hidden" ngModel="{{ATMCardRequest.reason}}" name="reason" id="reason">

    <input type="hidden" ngModel="{{ATMCardRequest.approve}}" name="approve" id="approve">
    <input type="hidden" ngModel="{{ATMCardRequest.employee.employeeId}}" name="employeeId" id="employeeId">

  </form>
 </div>










