<div class="page-header">
  <!-- <div class="page-leftheader">
      <h2 class="page-title">{{'ReceiptVoucher' | translate}}</h2>
  </div> -->
  <div class="page-rightheader ms-auto d-lg-flex d-none">
      <ol class="breadcrumb">

          <li class="breadcrumb-item">
              <a [routerLink]="['/accounts/']" class="d-flex">
                  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
        <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
          {{'HOME' | translate}}</span></a>
          </li>
          <li class="breadcrumb-item"><a [routerLink]="['/accounts/receipt-voucher/receipt-voucher/']">
      {{"ReceiptVoucher" | translate}} </a></li>
          <li class="breadcrumb-item active" aria-current="page"> {{'VIEW' | translate}}</li>

      </ol>
  </div>
</div>


<div class="card" style="border: 1px solid #000;">
    <div class="card-header pb-0">
        &nbsp;&nbsp;&nbsp;
        <a (click)="printPage()" class="btn btn-default"><i class="fe fe-plus"></i>{{'Print' | translate}}</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="page-leftheader text-center text-decoration-underline">
                    <h2 class="page-title">{{'receiptVoucher' | translate}}</h2>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row page-leftheader text-center text-decoration-underline">
                    <h4 class="page-title">{{formData.receiptVoucherId}}</h4>
                </div>
                <div class="row page-leftheader text-center text-decoration-underline">
                  <h4 class="page-title">{{formData.voucherDate}}</h4>
              </div>
            </div>
        </div>
  
        <div class=" row">
  
            <!-- <div class="col-md-3">
                <label class="form-label">{{'fundAccount' | translate}}</label>
                <input type="text" #fundAccount [(ngModel)]="formData.fundAccount" id="fundAccount" name="fundAccount" class="form-control mt-2 text-line" placeholder="">
  
                <label class="form-label">{{'checkAccount' | translate}}</label>
                <input type="text" #checkAccount  [(ngModel)]="formData.checkAccount" id="checkAccount" name="checkAccount" class="form-control mt-2 text-line" placeholder="">
            </div> -->
  
            <table class="col-md-3 calculate"   >
              <tr>
                <td>{{ 'fundAccount' | translate }}</td>
                <td>
                  <!-- <label class="form-label">{{'fundAccount' | translate}}</label> -->
                  <input type="text" #fundAccount [(ngModel)]="formData.cashAccount.accountName" id="fundAccount" name="fundAccount" class="form-control mt-2 text-line" placeholder="">
                </td>
            </tr>
            <tr>
              <td>{{ 'checkAccount' | translate }}</td>
              <td>
                  <!-- <label class="form-label">{{'checkAccount' | translate}}</label> -->
                  <input type="text" #checkAccount  [(ngModel)]="formData.checksAccount.accountName" id="checkAccount" name="checkAccount" class="form-control mt-2 text-line" placeholder="">
              </td>
            </tr>
  
            </table>
  
  
            <div class="col-md-8 m-1">
                <form *ngIf="formData" class="m-2">
  
                    <div class="inline-block">
                        <label class="form-label">{{'ReceivedfromMr/Ms'|translate}}:</label> {{formData.vendorAccount.accountName}}
                        <label class="form-label" style="margin:0 25px">{{'accountNumber'|translate}} : {{formData.vendorAccount.accountCode}}</label>
                    </div>
  
                    <div class="inline-block">
                        <label class="form-label"> {{'Amountof'|translate}} :</label> {{formData.cashAmount}}//&nbsp;&nbsp;&nbsp;&nbsp;{{tafgeet}}
                    </div>
                    <div class="inline-block">
                        <label class="form-label">{{'Thatsabout'|translate}} : : </label> {{formData.description}}
                    </div>
  
                </form>
            </div>
        </div>
        <div class="row  pt-3">
            <!-- <div class="col-md-2">
                موظف التحصيل:
            </div> -->
  
            <div class="col-md-10">
                <div class="card-body">
  
                    <div class="table-responsive table-bordered table-hover table-striped">
  
                        <table mat-table matSort [dataSource]="receiptVoucherData">
  
  
                            <ng-container matColumnDef="checkNumber">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50%;">{{'checkNumber' | translate}}</th>
                                <th mat-cell *matCellDef="let p" style="text-align: center; width: 50%;">
                                    {{ p.checkNumber }}</th>
                            </ng-container>
  
                            <ng-container matColumnDef="checkDate">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50%;">{{'checkDate' | translate}}</th>
                                <th mat-cell *matCellDef="let p" style="text-align: center; width: 50%;">{{ p.checkDate }}</th>
                            </ng-container>
                            <ng-container matColumnDef="checkValue">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50%;">{{'checkValue' | translate}}</th>
                                <th mat-cell *matCellDef="let p" style="text-align: center; width: 50%;">{{ p.checkValue }}</th>
                            </ng-container>
  
                            
                            <ng-container matColumnDef="bankName">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50%;">{{'bankName' | translate}}</th>
                                <th mat-cell *matCellDef="let p" style="text-align: center; width: 50%;">{{ p.bank.bankName }}</th>
                            </ng-container>
  
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </div>


<!-- <hr style="color: #000; border-color: #000;"> -->
<!-- <table>
  <tr>
      <th>المستلم</th>
      <th>المحاسب</th>
      <th>المدير</th>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
  </tr>

</table>

<div class="box">

<form *ngIf="formData">
  <div class="col-md-5">
      <label class="form-label">{{'fundAccount' | translate}}</label> {{formData.fundAccount}}
  </div>
  <div class="col-md-5">
      <label class="form-label">{{'checkAccount' | translate}}</label> {{formData.checkAccount}}
  </div>
</form>
</div> -->
