<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
    <h2 class="page-title">{{'Items' | translate}}</h2>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">

    <li class="breadcrumb-item"><a [routerLink]="['/sales/']" class="d-flex">
    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
    <path d="M0 0h24v24H0V0z" fill="none"/>
    <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
    <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
    {{'HOME' | translate}}</span></a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/sales/items/items/']">
    {{"Items" | translate}} </a></li>
    <li class="breadcrumb-item active" aria-current="page"> {{'delete' | translate}}</li>

    </ol>
    </div>
    </div>
    <!--End Page header-->


    <div class="card">
      <form *ngIf="items" #delForm="ngForm" (ngSubmit)="onDeleteItemsById(delForm.value)" class="form-horizontal">
        <div class="card-header">
          <button type="submit" id="delete-employee-projects-form" class="btn btn-dark m-3">{{'YES' | translate}}</button>
          <a [routerLink]="['/sales/items/items/']" class="btn btn-light">{{'NO' | translate}}</a>
        </div> <h3 class="card-title alert alert-danger">
          {{'CONFIRMDELETE' | translate}}  (<strong>{{items.itemNameAr}}</strong>)</h3>


          <input type="hidden"  [(ngModel)]="items.itemId" name="itemId" id="itemId">
          <input type="hidden"  [(ngModel)]="items.itemCode" name="itemCode" id="itemCode">
          <input type="hidden"  [(ngModel)]="items.itemNameAr" name="itemNameAr" id="itemNameAr">
          <input type="hidden"  [(ngModel)]="items.itemNameEn" name="itemNameEn" id="itemNameEn">
          <input type="hidden"  [(ngModel)]="items.hourlyRate" name="hourlyRate" id="hourlyRate">

          <input type="hidden"  [(ngModel)]="items.unit" name="unit" id="unit">


          <input type="hidden"  [(ngModel)]="items.taxRate" name="taxRate" id="taxRate">

          <input type="hidden"  [(ngModel)]="items.deleteFlag" name="deleteFlag" id="deleteFlag">
      </form>
    </div>
