<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h2 class="page-title">{{'Transportation' | translate}}</h2>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/operation/']" class="d-flex">
          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
            <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
              {{'HOME' | translate}}</span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/operation/Transportation/Transportation/']">
          {{'Transportation' | translate}}</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{'ADD' | translate}}</li>
      </ol>
    </ol>
  </div>
</div>
<!--End Page header-->

<!-- <div class="card"> -->
<div class="card">
  <form #addForm="ngForm"
  [formGroup]="form"
   class="form-horizontal">
    <div class="card-header">
      <button type="submit" id="add-taskeen-form" class="btn btn-dark m-3" (click)="onAddTransportation()">{{'SAVE' | translate }}</button>
      <a [routerLink]="['/operation/Transportation/Transportation']" class="btn btn-light m-3">{{'DISCARD' | translate }}</a>
    </div>
    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'transportationMeanCode' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <input type="text"

        formControlName="transportationMeanCode"
        [ngClass]="{ 'is-invalid': submitted && f['transportationMeanCode'].errors }"
        #transportationMeanCode
        [(ngModel)]="transportationEmdadat.transportationMeanCode" id="transportationMeanCode" name="transportationMeanCode"
        class="form-control mt-2 text-line"  >

        <div *ngIf="submitted && f['transportationMeanCode'].errors" class="invalid-feedback">
          <div
          *ngIf="f['transportationMeanCode'].errors['required']">  {{'required' | translate}}.</div>
        </div>

      </div>

     <div class="col-md-6">
        <label for="" class="form-label">{{'transportationMeanType' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <ng-select name="transportationMeanType"
        formControlName="transportationMeanType"
        [ngClass]="{ 'is-invalid': submitted && f['transportationMeanType'].errors }"
         [(ngModel)]="transportationEmdadat.transportationMeanType"
        class="form-control form-select">

        <ng-option  value ="سيارة">{{'Car' | translate }}</ng-option>
        <ng-option  value ="باص">{{'Bus' | translate }}</ng-option>
        <ng-option  value ="شاحنة">{{'Van' | translate }}</ng-option>
        <ng-option  value ="بكم">{{'Pickup' | translate }}</ng-option>

        </ng-select>
        <div *ngIf="submitted && f['transportationMeanType'].errors" class="invalid-feedback">
          <div
          *ngIf="f['transportationMeanType'].errors['required']">  {{'required' | translate}}.</div>
        </div>
      </div>
      </div>

      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'transportationMeanNumber' | translate}}<span style="font-size: large;color: red;">*</span></label>
          <input type="text"

          formControlName="transportationMeanNumber"
          [ngClass]="{ 'is-invalid': submitted && f['transportationMeanNumber'].errors }"
          #transportationMeanNumber
          [(ngModel)]="transportationEmdadat.transportationMeanNumber" id="transportationMeanNumber" name="transportationMeanNumber"
          class="form-control mt-2 text-line"  >

          <div *ngIf="submitted && f['transportationMeanNumber'].errors" class="invalid-feedback">
            <div
            *ngIf="f['transportationMeanNumber'].errors['required']">  {{'required' | translate}}.</div>
          </div>

        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{'Driver' | translate}}<span style="font-size: large;color: red;">*</span></label>
          <ng-select name="employeeId"
          formControlName="employeeId"
          [ngClass]="{ 'is-invalid': submitted && f['employeeId'].errors }"
           [(ngModel)]="transportationEmdadat.employees.employeeId"
          class="form-control form-select">
              <ng-option *ngFor="let employee of employees" [value] ="employee.employeeId">{{employee.employeeName}}</ng-option>
          </ng-select>
          <div *ngIf="submitted && f['employeeId'].errors" class="invalid-feedback">
            <div
            *ngIf="f['employeeId'].errors['required']">{{'required' | translate}}.</div>
          </div>

        </div>

    </div>

    <div class="m-3 row">

      <div class="col-md-3">
        <label for="" class="form-label">{{'licenseExpiryDate' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
          <input type="date" name="licenseExpiryDate"
           formControlName="licenseExpiryDate"
          [ngClass]="{ 'is-invalid': submitted && f['licenseExpiryDate'].errors }"
          #licenseExpiryDate
          [(ngModel)]="transportationEmdadat.licenseExpiryDate" matInput >
          <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>

          <mat-datepicker #picker1></mat-datepicker> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <label for="" class="form-label">{{'transportationMeanBuyingDate' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
          <input type="date" name="transportationMeanBuyingDate"
           formControlName="transportationMeanBuyingDate"
          [ngClass]="{ 'is-invalid': submitted && f['transportationMeanBuyingDate'].errors }"
          #transportationMeanBuyingDate
          [(ngModel)]="transportationEmdadat.transportationMeanBuyingDate" matInput>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>

          <mat-datepicker #picker2></mat-datepicker> -->
        </mat-form-field>

      </div>
      <!-- <div class="col-md-3">
        <label for="" class="form-label">{{'transportationMeanBuyingDate' | translate}}:</label>
        <mat-form-field appearance="outline">
          <mat-label>{{'transportationMeanBuyingDate' | translate}}</mat-label>
          <input name="transportationMeanBuyingDate" [(ngModel)]="transportationEmdadat.transportationMeanBuyingDate" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div> -->
      <div class="col-md-3">
        <label for="" class="form-label">{{'licenseReleaseDate' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
          <input type="date" name="licenseReleaseDate"
           formControlName="licenseReleaseDate"
          [ngClass]="{ 'is-invalid': submitted && f['licenseReleaseDate'].errors }"
          #licenseReleaseDate
          [(ngModel)]="transportationEmdadat.licenseReleaseDate" matInput>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>

          <mat-datepicker #picker3></mat-datepicker> -->
        </mat-form-field>

      </div>

    </div>
    <div class="m-3 row">

      <!-- <div class="col-md-6">
        <label for="" class="form-label">{{'Driver' | translate}}:</label>
        <ng-select name="employees.employeeId"  [(ngModel)]="transportationEmdadat.employees.employeeId"
        class="form-control form-select">
            <ng-option *ngFor="let employee of employees" [value] ="employee.employeeId">{{employee.employeeName}}</ng-option>
        </ng-select>
      </div> -->
    </div>
    <div class="m-3 row">
      <div class="col-md-12">
        <label for="" class="form-label">{{'licensePhoto' | translate}}<span style="font-size: large;color: red;">*</span></label>
        <div class="col-md-6">

          <input type="file" class="btn btn-dark m-3">
          <!-- <img [src]="imgURL" height="200" *ngIf="imgURL"> -->
      </div>
      </div>
    </div>



  </form>
  <!-- {{projectEmdadat.projectName | json}} -->
</div>

