.thead{
    width:300px;
    font-weight:bold;
    font-size: larger;
}
.masterhead{
    width:300px;
    font-weight:bold;
    font-size: larger;
    color: red;
    background-color:rgb(197, 185, 185);
}
