<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h2 class="page-title">{{'creditcard' | translate}}</h2>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard-follow/']" class="d-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
          <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard-follow/creditCards/']">
        {{"creditcard" | translate}} </a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{'VIEW' | translate}}</li>

        </ol>
    </div>
</div>
<!--End Page header-->

<!-- row opened -->
<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="page-title">{{'Debitcardsthatwillexpireinthreemonths' | translate}}</h2>
            </div>
            <div class="card-body">
                <div class="search-container">
                    <!-- <mat-form-field appearance="fill" style="width:50%;">
                        <input matInput placeholder="{{'SEARCH' | translate}}" autocomplete="off" (keyup)="filterData($event)">
                    </mat-form-field> -->
                </div>
                <div class="table-responsive table-bordered table-hover table-striped">

                    <table mat-table matSort [dataSource]="banks">
                        <ng-container matColumnDef="employeeName" style="text-align: center;">
                            <th mat-header-cell *matHeaderCellDef>{{'employeeName' | translate}}</th>
                            <th mat-cell *matCellDef="let bank">{{ bank.employee.employeeName }}</th>
                        </ng-container>
                        <ng-container matColumnDef="companyName" style="text-align: center;">
                            <th mat-header-cell *matHeaderCellDef>{{'companyName' | translate}}</th>
                            <th mat-cell *matCellDef="let bank">{{ bank.employee.companies.companyName }}</th>
                        </ng-container>
                        <ng-container matColumnDef="creditCardNumber" style="text-align: center; width: 50%;">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'creditCardNumber' | translate}}</th>
                            <th mat-cell *matCellDef="let bank">{{ bank.creditCardNumber }}</th>
                        </ng-container>
                        <ng-container matColumnDef="creditCardExpiry" style="text-align: center; width: 50%;">
                            <th mat-header-cell *matHeaderCellDef>{{'creditCardExpiry' | translate}}</th>
                            <th mat-cell *matCellDef="let bank">{{ bank.creditCardExpiry }}</th>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25,50, 100]">
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>

<!--div-->

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="page-title">{{'Debitcardthathasnotyetbeenissued' | translate}}</h2>
            </div>
            <div class="card-body">
                <div class="search-container">
                    <!-- <mat-form-field appearance="fill" style="width:50%;">
                        <input matInput placeholder="{{'SEARCH' | translate}}" autocomplete="off" (keyup)="filterData($event)">
                    </mat-form-field> -->
                </div>
                <div class="table-responsive table-bordered table-hover table-striped">

                    <table mat-table matSort [dataSource]="banks2">
                        <ng-container matColumnDef="employeeName" style="text-align: center;">
                            <th mat-header-cell *matHeaderCellDef>{{'employeeName' | translate}}</th>
                            <th mat-cell *matCellDef="let bank2">{{ bank2.employee.employeeName }}</th>
                        </ng-container>
                        <ng-container matColumnDef="companyName" style="text-align: center;">
                            <th mat-header-cell *matHeaderCellDef>{{'companyName' | translate}}</th>
                            <th mat-cell *matCellDef="let bank2">{{ bank2.employee.companies.companyName }}</th>
                        </ng-container>
                        <ng-container matColumnDef="creditCardNumber" style="text-align: center; width: 50%;">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'creditCardNumber' | translate}}</th>
                            <th mat-cell *matCellDef="let bank2">{{ bank2.creditCardNumber }}</th>
                        </ng-container>
                        <ng-container matColumnDef="creditCardExpiry" style="text-align: center; width: 50%;">
                            <th mat-header-cell *matHeaderCellDef>{{'creditCardExpiry' | translate}}</th>
                            <th mat-cell *matCellDef="let bank2">{{ bank2.creditCardExpiry }}</th>
                        </ng-container>



                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25,50, 100]">
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>