<div class="page-style2 light-mode default-sidebar error-page bg-img">
  <div class="page">
    <div class="page-single">
      <div class="p-md-3">
        <!-- Row -->
        <div class="row pt-0">

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold"> {{'HR' | translate}} </p>
                <a [routerLink]="['/employees/employees']"><img src="../../assets/images/modules-icons/hr0.png"
                    alt=""></a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Operation' | translate}}</p>
                <a [routerLink]="['/operation']"><img src="../../assets/images/modules-icons/operation.png" alt=""></a>

              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Sales' | translate}}</p>
                <a [routerLink]="['/sales']"><img src="../../assets/images/modules-icons/sale0.png" alt=""></a>

              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Purchase' | translate}}</p>
                <a [routerLink]="['/purchase']"><img src="../../assets/images/modules-icons/purchase0.png" alt=""></a>

              </div>
            </div>
          </div>

          <!-- <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <p class="h4 text-center text-black font-weight-bold">{{'Inventory' | translate}}</p>
                <a [routerLink]="['/operation']"><img src="../../assets/images/modules-icons/inventory0.png" alt=""></a>
              </div>
            </div>
          </div> -->

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Accounting' | translate}}</p>
                <a [routerLink]="['/accounts']"><img src="../../assets/images/modules-icons/accounts0.png" alt=""></a>

              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Finance' | translate}}</p>
                <a [routerLink]="['/finance']"><img src="../../assets/images/modules-icons/accounts0.png" alt=""></a>

              </div>
            </div>
          </div>

          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">

                <p class="h4 text-center text-black font-weight-bold">{{'InternationalRelation' | translate}}</p>
                <a [routerLink]="['/international']"><img src="../../assets/images/modules-icons/agreement.png" style="width:60px" alt=""></a>

              </div>
            </div>
          </div>



          <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <!-- <svg class="svg-icon2  fill-white text-primary icon-dropshadow-primary" x="0" y="240" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4v0a2 2 0 100-4v0zm-8 2a2 2 0 11-4 0v0a2 2 0 114 0v0z"></path></svg> -->
                <p class="h4 text-center text-black font-weight-bold">{{'Reports' | translate}}</p>
                <a [routerLink]="['/reports']"><img src="../../assets/images/modules-icons/reports0.png" alt=""></a>

              </div>
            </div>
          </div>


         <!-- <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <p class="h4 text-center text-black font-weight-bold">{{'Settings' | translate}}</p>
                <a routerLink=""><img src="../../assets/images/modules-icons/settings0.png" alt=""></a>

              </div>
            </div>
          </div>  -->

          <!-- <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <p class="h4 text-center text-black font-weight-bold">{{'FollowUp' | translate}}</p>

                <a routerLink=""><img src="../../assets/images/modules-icons/pointofsale0.png" alt="" alt=""></a>

              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-12 col-xl-3 col-lg-6">
            <div class="card bg-white">
              <div class="card-body text-center list-icons">
                <p class="h4 text-center text-black font-weight-bold">{{'Operation' | translate}}</p>
                <a routerLink=""><img src="../../assets/images/modules-icons/inventory0.png" alt=""></a>

              </div>
            </div>
          </div> -->





          <!-- End  Row -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer">

  <div class="row">
    <div class="col-7">
      <div  style="width: 100%; text-align: left;"><br/>&copy; 2022 Copyright <strong><span>OPRUP</span></strong>. All rights reserved</div>
    </div>
    <div class="col-5">
      Riyadh, Saudi Arabia.<br/>
      <a href="tel:+966551080168">00966&nbsp;5&nbsp;5108&nbsp;0168</a><br/>
      <a href="mailto:support@OprUp.com">support@OprUp.com</a>

    </div>
  </div>
  <!-- <div style="width: 40%; position: absolute;">
   Riyadh, Saudi Arabia.<br/>
   <a href="tel:+966551080168">+966 5 5108 0168</a><br/>
   <a href="mailto:support@OprUp.com">support@OprUp.com</a>

  </div>
  <div  style="width: 100%; text-align: center;"><br/>&copy; 2022 Copyright <strong><span>OPRUP</span></strong>. All rights reserved</div> -->

</div>


