<!--Page header-->
<div class="page-header" *ngIf="employee">
  <div class="page-leftheader">
    <div class="card-header" *ngIf="this.translate.currentLang=='en'">
      <h2 > {{employee.employeeName}}</h2>
   </div>
   <div class="card-header" *ngIf="this.translate.currentLang=='ar'">
    <h2 > {{employee.employeeNameAr}}</h2>
 </div>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard/']" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> {{'HOME' | translate}}</span></a></li>
       <li class="breadcrumb-item"><a [routerLink]="['/employees/employees/']">{{'Employees' | translate}}</a></li>
      <li class="breadcrumb-item" aria-current="page">{{'Detailsemployee' | translate}}</li>
    </ol>
  </div>
</div>
<!--End Page header-->
<div class="main" *ngIf="employee">
  <div class="column-1">
    <ul class="vertical-menu">
      <li [routerLink]="['/employees/create-employee-details/'+ employee.employeeId]" [ngClass]="{'active':viewMode =='tab01'}">{{'BasicInformation' | translate}}</li>
      <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'EmployeedInformation' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee03-documents/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'Documents' | translate}}</li> -->
      <li [routerLink]="['/employees/create-employee05-address/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab05'}">{{'Address' | translate}}</li>
      <li [routerLink]="['/employees/create-employee06-qualification/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab06'}">{{'Qualifications' | translate}}</li>
      <li [routerLink]="['/employees/create-employee07-work-experience/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab07'}">{{'WorkExperiences' | translate}}</li>
      <li [routerLink]="['/employees/create-employee08-bank-account/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab08'}">{{'BankAccounts' | translate}}</li>
      <li [routerLink]="['/employees/create-employee09-contract/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab09'}">{{'Contract' | translate}}</li>
      <li [routerLink]="['/employees/create-employee10-hokome/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab10'}">{{'hokomedetails' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab11'}">{{'EmployeedInformation' | translate}}</li> -->
      <li [routerLink]="['/employees/employee-residence-transportation/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tabResTrans'}">{{'residenceTransport' | translate}}</li>

    </ul>
  </div>
  <div class="column-2" [ngSwitch]="viewMode">

    <div *ngSwitchCase="'tab08'">
      <div class="card">
        <form
        [formGroup]="form"
        (ngSubmit)="onAddBank()">
          <div class="card-header">
             <h2>{{'BankAccounts' | translate}}</h2>
          </div>
          <mat-card-header>
            <button type="submit" id="add-Bank-form" class="btn btn-dark m-3">{{'SAVE' | translate}}</button>
            <a [routerLink]="['/employees/employees']" class="btn btn-light m-3">{{'DISCARD' | translate}}</a>
          </mat-card-header>
          <div class="row m-3">
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee Name:</label> -->
             <input type="hidden" value={{employee.employeeName}} style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee ID:</label> -->
             <input type="hidden" value={{employee.employeeId}} style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
          </div>

            <div class="m-3 row">
              <div class="col-md-6">
                <label for="" class="form-label">{{'BankName' | translate}}<span style="font-size: large;color: red;">*</span></label>
                <ng-select name="bank"

                formControlName="bankId"
                [ngClass]="{ 'is-invalid': submitted && f['bankId'].errors }"

                [(ngModel)]="emp08.bank.bankId" class="form-control form-select" placeholder="-- {{'SelectBankName' | translate}} --">
                  <ng-option *ngFor="let data of bank" [value] ="data.bankId">{{ data.bankName }}</ng-option>
              </ng-select>
              <div *ngIf="submitted && f['bankId'].errors" class="invalid-feedback">
                <div *ngIf="f['bankId'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>

              </div>
              <div class="col-md-6">
               <label for="" class="form-label">{{'BankBranch' | translate}}<span style="font-size: large;color: red;">*</span></label>
               <!-- <span>{{'BankBranch:' | translate}}</span><h1>*</h1> -->
                <input type="text" #bankBranch

                formControlName="bankBranch"
                [ngClass]="{ 'is-invalid': submitted && f['bankBranch'].errors }"

                [(ngModel)]="emp08.bankBranch" id="bankBranch" name="bankBranch"
                class="form-control mt-2 text-line" >

                <div *ngIf="submitted && f['bankBranch'].errors" class="invalid-feedback">
                  <div *ngIf="f['bankBranch'].errors['required']">{{'isReqired'|translate}}.</div>
                </div>
              </div>
              <!-- <div class="col-md-2"><span><h1>*</h1></span></div> -->
            </div>
          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'AccountType' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #AccountType

              formControlName="accountType"
              [ngClass]="{ 'is-invalid': submitted && f['accountType'].errors }"

              [(ngModel)]="emp08.accountType" id="accountType" name="accountType"
              class="form-control mt-2 text-line"  >
              <div *ngIf="submitted && f['accountType'].errors" class="invalid-feedback">
                <div *ngIf="f['accountType'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'AccountNumber' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #accountNumber

              formControlName="accountNumber"
              [ngClass]="{ 'is-invalid': submitted && f['accountNumber'].errors }"

              [(ngModel)]="emp08.accountNumber" id="accountNumber" name="accountNumber"
              class="form-control mt-2 text-line" >
              <div *ngIf="submitted && f['accountNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['accountNumber'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>
            </div>
          </div>
          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'IBAN' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #iban

              formControlName="iban"
              [ngClass]="{ 'is-invalid': submitted && f['iban'].errors }"

              [(ngModel)]="emp08.iban" id="iban" name="iban"
              class="form-control mt-2 text-line">

              <div *ngIf="submitted && f['iban'].errors" class="invalid-feedback">
                <div *ngIf="f['iban'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'swiftCode' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #swiftCode

              formControlName="swiftCode"
              [ngClass]="{ 'is-invalid': submitted && f['swiftCode'].errors }"

              [(ngModel)]="emp08.swiftCode" id="swiftCode" name="swiftCode"
              class="form-control mt-2 text-line"
              placeholder="{{'swiftCode' | translate}}" >
              <div *ngIf="submitted && f['swiftCode'].errors" class="invalid-feedback">
                <div *ngIf="f['swiftCode'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <card-footer>

        <div class="card-footer">
          <div class="card-title bg-dark p-3 text-white">
            <!-- List Of Employee Banks -->
          </div>
          <div class="table-responsive table-bordered table-hover table-striped">
            <table class="table text-md-nowrap" id="myTable1">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">{{'BankName' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'Branch' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'AccountType' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'AccountNumber' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'IBAN' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'swiftCode' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'Action' | translate}}</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let empBank of empBanks">
                  <!-- <td>{{ empBank.employee.employeeName }}</td> -->
                  <td>{{ empBank.bank.bankName }}</td>
                  <td>{{ empBank.bankBranch }}</td>
                  <td>{{ empBank.accountType }}</td>
                  <td>{{ empBank.accountNumber }}</td>
                  <td>{{ empBank.iban }}</td>
                  <td>{{ empBank.swiftCode }}</td>
                  <td class="align-middle">
                    <div class="btn-group align-top">
                      <button  class="btn btn-sm btn-light btn-svg" type="button" (click)="deleteEmployeeBank(empBank.empBankId)" ><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg></button>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </card-footer>
    </div>

  </div>
  </div>
