<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h2 class="page-title">{{'Project' | translate}}</h2>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/operation/']" class="d-flex">
            <svg class="svg-icon" xmlns="http  //www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
              <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
            </svg><span class="breadcrumb-icon">
              {{'HOME' | translate}}</span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/operation/project-emdadat/project-view/']">
            {{'Project' | translate}} </a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{'ADD' | translate}}</li>
      </ol>
    </ol>
  </div>
</div>
<!--End Page header-->

<!-- <div class="card"> -->
<div class="card">
  <form #addForm="ngForm" *ngIf="project" [formGroup]="form" (ngSubmit)="onUpdateProject()" class="form-horizontal">
    <div class="card-header">
      <button type="submit" id="add-project-form" class="btn btn-dark m-3">{{'SAVE' | translate }}</button>
      <a [routerLink]="['/operation/project-emdadat/project-view']" class="btn btn-light m-3">{{'DISCARD' | translate
        }}</a>
    </div>

    <div class="m-3 row">
      <div class="col-md-12">
        <label for="" class="form-label">{{'mainAccount' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <ng-select name="accountId" #accountId formControlName="accountId"
          [ngClass]="{ 'is-invalid': submitted && f['accountId'].errors }" [(ngModel)]="project.chartAccounts.accountId"
          class="form-control form-select">

          <ng-option *ngFor="let acc of accounts" [value]="acc.accountId">{{acc.accountCode}}| {{acc.accountName}}
          </ng-option>

        </ng-select>
        <div *ngIf="submitted && f['accountId'].errors" class="invalid-feedback">
          <div *ngIf="f['accountId'].errors['required']">{{'required' | translate}}.
          </div>
        </div>

      </div>
    </div>

    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'ProjectNumber' | translate}}</label>
        <input type="text" #projectNumber readonly [(ngModel)]="project.projectNumber"
          [ngModelOptions]="{standalone: true}" id="projectNumber" name="projectNumber"
          class="form-control mt-2 text-line">

      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{ 'customerName' | translate }}<span
            style="font-size: large;color: red;">*</span></label>

        <ng-select #customerId formControlName="customerId"
          [ngClass]="{ 'is-invalid': submitted && f['customerId'].errors }" [(ngModel)]="project.customer.customerId"
          name="customerId" id="customerId" class="form-control form-select">
          <ng-option *ngFor="let item of customers" value="{{item.customerId}}">
            {{item.nameAr}}
          </ng-option>

        </ng-select>
        <div *ngIf="submitted && f['customerId'].errors" class="invalid-feedback">
          <div *ngIf="f['customerId'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>


    <!-- <div></div> -->
    <div class="card" *ngIf="!isLoggedIn">
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'Date' | translate }}</label>
          <input type="text" class="form-control mt-2 text-line" [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.date">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'numberCR' | translate }} </label>
          <input type="text" #numberCR [ngModelOptions]="{standalone: true}" [value]="customerDetails.numberCR"
            id="numberCR" name="numberCR" class="form-control mt-2 text-line">
        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'customerNo.' | translate}}:</label>
          <input type="text" #customerAccountNumber [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.customerAccountNumber" id="customerAccountNumber" name="customerAccountNumber"
            class="form-control" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{'customerAccNo.' | translate}}:</label>
          <input type="text" [ngModelOptions]="{standalone: true}" [value]="customerDetails.customerName"
            id="customerName" name="customerName" class="form-control" placeholder="">
        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'nameAr' | translate }} </label>
          <input type="text" #nameAr [ngModelOptions]="{standalone: true}" [value]="customerDetails.nameAr" id="nameAr"
            name="nameAr" class="form-control mt-2 text-line">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'nameEn' | translate }} </label>
          <input type="text" #nameEn [ngModelOptions]="{standalone: true}" [value]="customerDetails.nameEn" id="nameEn"
            name="nameEn" class="form-control mt-2 text-line">
        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'CountryAr' | translate }}</label>
          <input type="text" class="form-control mt-2 text-line" [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.countryAr">
        </div>

        <div class="col-md-6">
          <label for="" class="form-label">{{'CountryEn' | translate }}</label>
          <input type="text" class="form-control mt-2 text-line" [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.countryEn">
        </div>
      </div>

      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'contractSignerNameAr' | translate }} </label>
          <input type="text" #contractSignerNameAr [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.contractSignerNameAr" id="contractSignerNameAr" name="contractSignerNameAr"
            class="form-control mt-2 text-line">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'contractSignerNameEn' | translate }} </label>
          <input type="text" #contractSignerNameEn [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.contractSignerNameEn" id="contractSignerNameEn" name="contractSignerNameEn"
            class="form-control mt-2 text-line">
        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'designation' | translate }} </label>
          <input type="text" #designation [ngModelOptions]="{standalone: true}" [value]="customerDetails.designation"
            id="designation" name="designation" class="form-control mt-2 text-line">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{'Nationality' | translate }}</label>
          <input type="text" #contactNumber [ngModelOptions]="{standalone: true}" [value]="customerDetails.nationality"
            id="nationality" name="nationality" class="form-control" placeholder="">

        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'.MOB' | translate}}:</label>
          <input type="text" #contactNumber [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.contactNumber" id="contactNumber" name="contactNumber" class="form-control"
            placeholder="">

        </div>

        <div class="col-md-6">
          <label for="" class="form-label">{{'email' | translate}}:</label>
          <input type="email" #email [ngModelOptions]="{standalone: true}" [value]="customerDetails.email" id="email"
            name="email" class="form-control" placeholder="">

        </div>

      </div>

      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'followerNameAr' | translate }} </label>
          <input type="text" #followerNameAr [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.followerNameAr" id="followerNameAr" name="followerNameAr"
            class="form-control mt-2 text-line">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'followerNameEn' | translate }} </label>
          <input type="text" #followerNameEn [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.followerNameEn" id="followerNameEn" name="followerNameEn"
            class="form-control mt-2 text-line">
        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'followerContactNumber' | translate}}:</label>
          <input type="text" #contactNumber [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.followerContactNumber" id="followerContactNumber" name="followerContactNumber"
            class="form-control">

        </div>

        <div class="col-md-6">
          <label for="" class="form-label">{{'followerEmailAdrress' | translate}}:</label>
          <input type="followerEmailAdrress" #followerEmailAdrress [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.followerEmailAdrress" id="followerEmailAdrress" name="followerEmailAdrress"
            class="form-control" placeholder="">

        </div>
      </div>
      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{ 'customerStatus' | translate }} </label>
          <input type="text" class="form-control mt-2 text-line" [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.customerStatus">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">{{'contactPerson' | translate}}:</label>
          <input type="text" #contactPerson [ngModelOptions]="{standalone: true}"
            [value]="customerDetails.contactPerson" id="contactPerson" name="contactPerson" class="form-control"
            placeholder="">
        </div>
      </div>


    </div>
    <!-- <div></div> -->

    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'projectCode' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="projectCode"
          [ngClass]="{ 'is-invalid': submitted && f['projectCode'].errors }" #projectCode
          [(ngModel)]="project.projectCode" id="projectCode" name="projectCode" class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['projectCode'].errors" class="invalid-feedback">
          <div *ngIf="f['projectCode'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{'projectName' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="projectName"
          [ngClass]="{ 'is-invalid': submitted && f['projectName'].errors }" #projectName
          [(ngModel)]="project.projectName" id="projectName" name="projectName" class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['projectName'].errors" class="invalid-feedback">
          <div *ngIf="f['projectName'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'projectValue' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="projectValue"
          [ngClass]="{ 'is-invalid': submitted && f['projectValue'].errors }" #projectValue
          [(ngModel)]="project.projectValue" id="projectValue" name="projectValue" class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['projectValue'].errors" class="invalid-feedback">
          <div *ngIf="f['projectValue'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{'WorkingTime' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="workingTime"
          [ngClass]="{ 'is-invalid': submitted && f['workingTime'].errors }" #workingTime
          [(ngModel)]="project.workingTime" id="workingTime" name="workingTime" class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['workingTime'].errors" class="invalid-feedback">
          <div *ngIf="f['workingTime'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="m-3 row">
      <div class="col-md-6">
        <!-- (ngModelChange)="onCompanySelected($event)" -->
        <label for="" class="form-label">{{'projectAddress' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="projectAddress"
          [ngClass]="{ 'is-invalid': submitted && f['projectAddress'].errors }" #projectAddress
          [(ngModel)]="project.projectAddress" id="projectAddress" name="projectAddress"
          class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['projectAddress'].errors" class="invalid-feedback">
          <div *ngIf="f['projectAddress'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label for="" class="form-label">{{'projectDuration' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="projectDuration"
          [ngClass]="{ 'is-invalid': submitted && f['projectDuration'].errors }" #projectDuration
          [(ngModel)]="project.projectDuration" id="projectDuration" name="projectDuration"
          class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['projectDuration'].errors" class="invalid-feedback">
          <div *ngIf="f['projectDuration'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>


    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'employeeNumber' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="employeeNumber"
          [ngClass]="{ 'is-invalid': submitted && f['employeeNumber'].errors }" #employeeNumber
          [(ngModel)]="project.employeeNumber" id="employeeNumber" name="employeeNumber"
          class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['employeeNumber'].errors" class="invalid-feedback">
          <div *ngIf="f['employeeNumber'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{'expectedExpense' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <input type="text" formControlName="expectedExpense"
          [ngClass]="{ 'is-invalid': submitted && f['expectedExpense'].errors }" #expectedExpense
          [(ngModel)]="project.expectedExpense" id="expectedExpense" name="expectedExpense"
          class="form-control mt-2 text-line">
        <div *ngIf="submitted && f['expectedExpense'].errors" class="invalid-feedback">
          <div *ngIf="f['expectedExpense'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'ManagerName' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <ng-select name="employees.employeeId" formControlName="employeeId"
          [ngClass]="{ 'is-invalid': submitted && f['employeeId'].errors }" #employeeId
          [(ngModel)]="project.employees.employeeId" class="form-control form-select">
          <ng-option *ngFor="let employee of employees" [value]="employee.employeeId">{{employee.employeeName}}
          </ng-option>
        </ng-select>
        <div *ngIf="submitted && f['employeeId'].errors" class="invalid-feedback">
          <div *ngIf="f['employeeId'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{'Description' | translate}}</label>
        <input type="text" #projectDescription [(ngModel)]="project.projectDescription"
          [ngModelOptions]="{standalone: true}" id="projectDescription" name="projectDescription"
          class="form-control mt-2 text-line">
      </div>
    </div>
    <div class="m-3 row">
      <div class="col-md-6">
        <label for="" class="form-label">{{'startingDate' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
          <input type="date" formControlName="startingDate"
            [ngClass]="{ 'is-invalid': submitted && f['startingDate'].errors }" #startingDate name="startingDate"
            [(ngModel)]="project.startingDate" matInput>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker> -->
        </mat-form-field>
        <div *ngIf="submitted && f['startingDate'].errors" class="invalid-feedback">
          <div *ngIf="f['startingDate'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">{{'endingDate' | translate}}<span
            style="font-size: large;color: red;">*</span></label>
        <mat-form-field appearance="outline">
          <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
          <input type="date" formControlName="endingDate"
            [ngClass]="{ 'is-invalid': submitted && f['endingDate'].errors }" #endingDate name="endingDate"
            [(ngModel)]="project.endingDate" matInput>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker> -->
        </mat-form-field>
        <div *ngIf="submitted && f['endingDate'].errors" class="invalid-feedback">
          <div *ngIf="f['endingDate'].errors['required']"> {{'required' | translate}}.
          </div>
        </div>
      </div>
    </div>


  </form>

</div>
