<div class="page-header">
    <div class="page-leftheader">
        <h2 class="page-title">{{'receiptVoucher' | translate}}</h2>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a [routerLink]="['/accounts/']" class="d-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
          <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/accounts/receipt-voucher/receipt-voucher/']">
        {{"receiptVoucher" | translate}} </a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{'DELETE' | translate}}</li>
        </ol>
    </div>
</div>
<!--End Page header-->


<div class="card">
    <form #delForm="ngForm" (ngSubmit)="onDeleteRecepitVoucher(delForm.value)" class="form-horizontal">
        <div class="card-header">
            <button type="submit" id="delete-quotation-form" class="btn btn-dark m-3">{{'YES' | translate}}</button>
            <a [routerLink]="['/receipt-voucher/receipt-voucher']" class="btn btn-light">{{'NO' | translate}}</a>
        </div>
        <h3 class="card-title alert alert-danger">
            {{'CONFIRMDELETE' | translate}} (<strong>{{recepitVoucher.chartAccount.accountName}}</strong>) {{'recepitVoucherInvoice' | translate}} </h3>

        <input type="hidden" ngModel="{{recepitVoucher.receiptVoucherId}}" name="receiptVoucherId" id="receiptVoucherId">
        <input type="hidden" ngModel="{{recepitVoucher.paymentWay}}" name="paymentWay" id="paymentWay">
        <input type="hidden" ngModel="{{recepitVoucher.cashAmount}}" name="cashAmount" id="cashAmount">
        <input type="hidden" ngModel="{{recepitVoucher.checkNumber}}" name="checkNumber" id="checkNumber">


        <input type="hidden" ngModel="{{recepitVoucher.dateCheck}}" name="dateCheck" id="dateCheck">
        <input type="hidden" ngModel="{{recepitVoucher.checkValue}}" name="checkValue" id="checkValue">
        <input type="hidden" ngModel="{{recepitVoucher.fundAccount}}" name="fundAccount" id="fundAccount">
        <input type="hidden" ngModel="{{recepitVoucher.checkAccount}}" name="checkAccount" id="checkAccount">


        <input type="hidden" ngModel="{{recepitVoucher.accountNumber}}" name="accountNumber" id="accountNumber">
        <input type="hidden" ngModel="{{recepitVoucher.dateVoucher}}" name="dateVoucher" id="dateVoucher">






    </form>

</div>