
<div class="page-header">
    <div class="page-leftheader">
      <h2 class="page-title"> {{'Store' | translate}} </h2>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard-hr/']"
          class="d-flex"><svg class="svg-icon1" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> {{'HOME' | translate}}</span></a></li>
                                      <li class="breadcrumb-item"><a [routerLink]="['/stores/stores/']">{{'Store' | translate}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{'Create' | translate}}</li>

      </ol>
    </div>
  </div>
  <mat-card>
  <div class="card">
    <form #g="ngForm" [formGroup]="form" (ngSubmit)="onAddStore()" class="form-horizontal">
      <div class="card-header">
        <button type="submit" id="add-store-form" class="btn btn-dark m-3">{{'SAVE' | translate}}</button>
        <a [routerLink]="['/stores/stores']" class="btn btn-light">{{'DISCARD' | translate}}</a>
      </div>

      <div class="m-3 row">
        <div class="col-md-6">
          <label for="" class="form-label">{{'stroeCode' | translate}}<span style="font-size: large;color: red;">*</span> </label>
          <input type="text"  formControlName="stroeCode"
          [ngClass]="{ 'is-invalid': submitted && f['stroeCode'].errors }"
          #stroeCode
          [(ngModel)]="StoreData.stroeCode"
          id="stroeCode" name="stroeCode"
          class="form-control mt-2 text-line" >
          <div *ngIf="submitted && f['stroeCode'].errors" class="invalid-feedback">
            <div *ngIf="f['stroeCode'].errors['required']">{{'isReqired'|translate}}.</div>
          </div>
        </div>

        <div class="m-3 row">
          <div class="col-md-6">
            <label for="" class="form-label">{{'storePlace' | translate}}<span style="font-size: large;color: red;">*</span> </label>
            <input type="text" formControlName="storePlace"
            [ngClass]="{ 'is-invalid': submitted && f['storePlace'].errors }"
            #storePlace
             [(ngModel)]="StoreData.storePlace" id="storePlace" name="storePlace"
            class="form-control mt-2 text-line">
            <div *ngIf="submitted && f['storePlace'].errors" class="invalid-feedback">
              <div *ngIf="f['storePlace'].errors['required']">{{'isReqired'|translate}}.</div>
            </div>
        </div>
        </div>
        <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'storeContact' | translate}}<span style="font-size: large;color: red;">*</span> </label>
              <input type="text" formControlName="storeContact"
              [ngClass]="{ 'is-invalid': submitted && f['storeContact'].errors }"
              #storeContact
                 [(ngModel)]="StoreData.storeContact" id="storeContact" name="storeContact"
              class="form-control mt-2 text-line">
              <div *ngIf="submitted && f['storeContact'].errors" class="invalid-feedback">
                <div *ngIf="f['storeContact'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>
          </div>
          </div>
      </div>



          <div class="col-md-6">
            <label for="" class="form-label">{{'storeKeeper' | translate }}<span style="font-size: large;color: red;">*</span> </label>
                <ng-select name="employee.employeeId"  formControlName="employeeId"
                [ngClass]="{ 'is-invalid': submitted && f['employeeId'].errors }"
                #employeeId
                [(ngModel)]="StoreData.employee.employeeId" class="form-control form-select"  [searchable]="true" [clearable]="true">
                    <ng-option *ngFor="let employee of employees" [value] ="employee.employeeId">{{employee.employeeName}}</ng-option>
                    <div *ngIf="submitted && f['employeeId'].errors" class="invalid-feedback">
                        <div *ngIf="f['employeeId'].errors['required']">{{'isReqired'|translate}}.</div>
                    </div>
                </ng-select>
        </div>





  <!-- </div> -->













