input{
    text-align: right;
}

.btn-list > .btn:not(:last-child), .btn-list > .dropdown:not(:last-child) {
    margin-right: initial;
    margin-left: 0.5rem;
}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3){
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-bottom-left-radius:   0.25rem !important;
    border-top-left-radius:0.25rem !important;
}