<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title"> {{'subCompany' | translate}} </h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard-hr/']" class="d-flex"><svg class="svg-icon"
        xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
        <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
          {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/companies/companies/']">{{'subCompany' | translate}}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{'DELETE' | translate}}</li>
    </ol>
  </div>
</div>
<!--End Page header-->


<div class="card">
  <form *ngIf="company" #delForm="ngForm"  (ngSubmit)="onDeleteCentralJob(delForm.value)" class="form-horizontal">
    <div class="card-header">
      <button type="submit" id="delete-central-job-form" class="btn btn-dark m-3">{{'YES' | translate}}</button>
      <a [routerLink]="['/companies/companies']" class="btn btn-light">{{'NO' | translate}}</a>
    </div> <h3 class="card-title alert alert-danger">{{'CONFIRMDELETE' | translate}}  (<strong>{{company.companyName}}</strong>)   </h3>
    <input type="hidden" ngModel="{{company.companyId}}" name="companyId" id="companyId">
    <input type="hidden" ngModel="{{company.companyName}}" name="companyName" id="companyName">
    <input type="hidden" ngModel="{{company.companyPrefix}}" name="companyPrefix" id="companyPrefix">
    <input type="hidden" ngModel="{{company.commercialId}}" name="commercialId" id="commercialId">
    <input type="hidden" ngModel="{{company.partners}}" name="partners" id="partners">
    <input type="hidden" ngModel="{{company.dateStart}}" name="dateStart" id="dateStart">
    <input type="hidden" ngModel="{{company.dateEnding}}" name="dateEnding" id="dateEnding">
    <input type="hidden" ngModel="{{company.licenseId}}" name="licenseId" id="licenseId">
    </form>
</div>









