<!--Page header-->
<div class="page-header" *ngIf="employee">
  <div class="page-leftheader">
    <!-- <h2 class="page-title">{{'AddDetailsforEmployee' | translate}}</h2> -->
    <div class="card-header" *ngIf="this.translate.currentLang=='en'">
      <h2 > {{employee.employeeName}}</h2>
   </div>
   <div class="card-header" *ngIf="this.translate.currentLang=='ar'">
    <h2 > {{employee.employeeNameAr}}</h2>
 </div>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard/']" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> {{'HOME' | translate}}</span></a></li>
       <li class="breadcrumb-item"><a [routerLink]="['/employees/employees/']">{{'Employees' | translate}}</a></li>
      <li class="breadcrumb-item" aria-current="page">{{'Detailsemployee' | translate}}</li>
    </ol>
  </div>
</div>
<!--End Page header-->
<div class="main" *ngIf="employee">
  <div class="column-1">
    <ul class="vertical-menu">
      <li [routerLink]="['/employees/create-employee-details/'+ employee.employeeId]" [ngClass]="{'active':viewMode =='tab01'}">{{'BasicInformation' | translate}}</li>
      <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'EmployeedInformation' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee03-documents/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'Documents' | translate}}</li> -->
      <li [routerLink]="['/employees/create-employee05-address/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab05'}">{{'Address' | translate}}</li>

      <li [routerLink]="['/employees/create-employee06-qualification/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab06'}">{{'Qualifications' | translate}}</li>
      <li [routerLink]="['/employees/create-employee07-work-experience/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab07'}">{{'WorkExperiences' | translate}}</li>
      <li [routerLink]="['/employees/create-employee08-bank-account/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab08'}">{{'BankAccounts' | translate}}</li>
      <li [routerLink]="['/employees/create-employee09-contract/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab09'}">{{'Contract' | translate}}</li>
      <li [routerLink]="['/employees/create-employee10-hokome/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab10'}">{{'hokomedetails' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab11'}">{{'EmployeedInformation' | translate}}</li> -->
      <li [routerLink]="['/employees/employee-residence-transportation/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tabResTrans'}">{{'residenceTransport' | translate}}</li>
    </ul>
  </div>
  <div class="column-2" [ngSwitch]="viewMode">

    <div *ngSwitchCase="'tab05'">
      <div class="card">
        <form *ngIf="addresses"
        [formGroup]="form"

        (ngSubmit)="onAddAddress()">
          <div class="card-header">
             <h2>{{'AddNewResidence' | translate}}</h2>
          </div>
          <mat-card-header>
            <button type="submit" id="add-Address-form" class="btn btn-dark m-3">{{'SAVE' | translate}}</button>
            <a [routerLink]="['/employees/employees']" class="btn btn-light m-3">{{'DISCARD' | translate}}</a>
          </mat-card-header>
          <div class="row m-3">
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee Name:</label> -->
             <input type="hidden" value={{employee.employeeName}} [ngModelOptions]="{standalone: true}" style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee ID:</label> -->
             <input type="hidden" value={{employee.employeeId}} [ngModelOptions]="{standalone: true}" style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
          </div>
          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'Email' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #email

              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"

              [(ngModel)]="emp05.email" id="email" name="email" class="form-control mt-2 text-line" placeholder="{{'Email' | translate}}" >
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">{{'isReqired'|translate}}.</div>
                <div *ngIf="f['email'].errors['pattern']"></div>
              </div>

            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'Email' | translate}}2<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #email2

              formControlName="email2"
              [ngClass]="{ 'is-invalid': submitted && f['email2'].errors }"

              [(ngModel)]="emp05.email2" id="email2" name="email2" class="form-control mt-2 text-line" placeholder="{{'email2' | translate}}" >

              <div *ngIf="submitted && f['email2'].errors" class="invalid-feedback">
                <div *ngIf="f['email2'].errors['required']">{{'isReqired'|translate}}.</div>
                <div *ngIf="f['email2'].errors['pattern']"></div>
              </div>

            </div>
          </div>

          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'Number' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #number
              formControlName="number"
              [ngClass]="{ 'is-invalid': submitted && f['number'].errors }"

              [(ngModel)]="emp05.number" id="number" name="number" class="form-control mt-2 text-line" placeholder="{{'number' | translate}}" >

              <div *ngIf="submitted && f['number'].errors" class="invalid-feedback">
                <div *ngIf="f['number'].errors['required']">{{'isReqired'|translate}}.</div>
                <div *ngIf="f['number'].errors['pattern']">{{'Start with 07 or 00966 or contains 7 or 8 or 9 digits'|translate}}.</div>

              </div>

            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'Number' | translate}}2<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #number2

              formControlName="number2"
              [ngClass]="{ 'is-invalid': submitted && f['number2'].errors }"

              [(ngModel)]="emp05.number2" id="number2" name="number2" class="form-control mt-2 text-line" placeholder="{{'number2' | translate}}" >

              <div *ngIf="submitted && f['number2'].errors" class="invalid-feedback">
                <div *ngIf="f['number2'].errors['required']">{{'isReqired'|translate}}.</div>
                <div *ngIf="f['number2'].errors['pattern']">{{'Start with 07 or 00966 or contains 7 or 8 or 9 digits'|translate}}.</div>

              </div>

            </div>
          </div>






          <hr style="color:black; border-color: black;">
          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'CountryAddress' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #countryAddress

              formControlName="countryAddress"
              [ngClass]="{ 'is-invalid': submitted && f['countryAddress'].errors }"

              [(ngModel)]="emp05.countryAddress" id="countryAddress" name="countryAddress" class="form-control mt-2 text-line" placeholder="{{'Address' | translate}}" >


              <div *ngIf="submitted && f['countryAddress'].errors" class="invalid-feedback">
                <div *ngIf="f['countryAddress'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>

            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'CountryContactNumber' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #countryContactNumber

              formControlName="countryContactNumber"
              [ngClass]="{ 'is-invalid': submitted && f['countryContactNumber'].errors }"

              [(ngModel)]="emp05.countryContactNumber" id="countryContactNumber" name="countryContactNumber" class="form-control mt-2 text-line" placeholder="{{'ContactNumber' | translate}}" >

              <div *ngIf="submitted && f['countryContactNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['countryContactNumber'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>

            </div>
          </div>
          <div class="m-3 row">
            <div class="col-md-6">
              <label for="" class="form-label">{{'ResidenceAddress' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #residenceAddress

              formControlName="residenceAddress"
              [ngClass]="{ 'is-invalid': submitted && f['residenceAddress'].errors }"

              [(ngModel)]="emp05.residenceAddress" id="residenceAddress" name="residenceAddress" class="form-control mt-2 text-line" placeholder="{{'Address' | translate}}" >


              <div *ngIf="submitted && f['residenceAddress'].errors" class="invalid-feedback">
                <div *ngIf="f['residenceAddress'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>


            </div>
            <div class="col-md-6">
              <label for="" class="form-label">{{'ResidenceContactNumber' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <input type="text" #residenceContactNumber

              formControlName="residenceContactNumber"
              [ngClass]="{ 'is-invalid': submitted && f['residenceContactNumber'].errors }"

              [(ngModel)]="emp05.residenceContactNumber" id="residenceContactNumber" name="residenceContactNumber" class="form-control mt-2 text-line" placeholder="{{'ContactNumber' | translate}}" >

              <div *ngIf="submitted && f['residenceContactNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['residenceContactNumber'].errors['required']">{{'isReqired'|translate}}.</div>
              </div>

            </div>
          </div>
        </form>

      </div>
      <card-footer>

        <div class="card-footer">
          <div class="card-title bg-dark p-3 text-white">
            <!-- List Of Addresses -->
          </div>
          <div class="table-responsive table-bordered table-hover table-striped">
            <table class="table text-md-nowrap" id="myTable1">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">{{'Name' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'Email' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'Email' | translate}}2</th>

                  <th class="wd-15p border-bottom-0">{{'Number' | translate}}</th>

                  <th class="wd-15p border-bottom-0">{{'Number' | translate}}2</th>

                  <th class="wd-15p border-bottom-0">{{'CountryAddress' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'CountryContactNumber' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'ResidenceAddress' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'ResidenceContactNumber' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'ACTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let address of addresses">
                  <td>{{ address.employee.employeeName }}</td>
                  <td>{{ address.email }}</td>
                  <td>{{ address.email2 }}</td>
                  <td>{{ address.number }}</td>
                  <td>{{ address.number2 }}</td>
                  <td>{{ address.countryAddress }}</td>
                  <td>{{ address.countryContactNumber }}</td>
                  <td>{{ address.residenceAddress }}</td>
                  <td>{{ address.residenceContactNumber }}</td>
                  <td class="align-middle">
                    <div class="btn-group align-top">
                      <button  class="btn btn-sm btn-light btn-svg" type="button" (click)="deleteEmployeeAddress(address.addressId)" ><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg></button>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </card-footer>
    </div>

  </div>
  </div>
