
<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title">{{'ATMCardRequest' | translate}}</h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/operation/']" class="d-flex">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
          <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/operation/ATMRequest/atm-requests']">
        {{"ATMCardRequest" | translate}} </a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{'Print' | translate}}</li>

		</ol>
	</div>
</div>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header pb-0">
        &nbsp;&nbsp;&nbsp;
        <a (click)="printPage()" class="btn btn-default"><i class="fe fe-plus"></i>{{'Print' | translate}}</a>
      </div>
      <div class="card-body">

        <div class="table-responsive table-bordered table-hover table-striped">
          <table mat-table matSort [dataSource]="aTMCardRequest">

            <ng-container matColumnDef="employeeName"  style="text-align: center;">
              <th mat-header-cell  *matHeaderCellDef>{{'employeeName' | translate}}</th>
              <th mat-cell *matCellDef="let atm" style="text-align:center;">{{ atm.employee.employeeName }}</th>
            </ng-container>
            <ng-container matColumnDef="date"  style="text-align: center;">
              <th mat-header-cell  *matHeaderCellDef style="text-align:center;">{{'date' | translate}}</th>
              <th mat-cell *matCellDef="let atm"  style="text-align:center;">{{ atm.date }}</th>
            </ng-container>


            <ng-container matColumnDef="reason"  style="text-align: center;">
              <th mat-header-cell  *matHeaderCellDef style="text-align:center;">{{'reason' | translate}}</th>
              <th mat-cell *matCellDef="let atm"  style="text-align:center;">{{ atm.reason }}</th>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        </div>
      </div>
    </div>
</div>




