


<div class="page-header">
  <div class="page-leftheader">
    <h2 class="page-title">{{'Quotation' | translate}}</h2>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/sales/']" class="d-flex">
          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
            <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg><span class="breadcrumb-icon">
            {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/sales/view-quotation/view-quotation/']">
          {{"Quotation" | translate}} </a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{'VIEW' | translate}}</li>

    </ol>
  </div>
</div>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header pb-0">
        &nbsp;&nbsp;&nbsp;
        <a (click)="printPage()" class="btn btn-default"><i class="fe fe-plus"></i>{{'PRINT' | translate}}</a>
      </div>

      <div class="card-body" >

<div class="card">
  <form *ngIf="quotationData" #editForm="ngForm" [formGroup]="form" (ngSubmit)="onUpdateQuotation(editForm.value)" class="form-horizontal">



    <div class="col-md-5">
      <label class="form-label">{{'date' | translate}}:</label>
      <input type="text" #date formControlName="date" [(ngModel)]="quotationData.date" id="date" name="date"
        class="form-control mt-2 text-line" placeholder="" readonly>
    </div>

    <div class="m-3 row">
      <div class="col-md-5">
        <label  class="form-label">{{'quotationNumber' | translate}}:</label>
        <input type="text"
        #quotatioNumber
        formControlName="quotationAutoNum"
        [(ngModel)]="quotationData.quotationAutoNum" id="quotationAutoNum" name="quotationAutoNum" class="form-control mt-2 text-line" placeholder="" readonly>
      </div>

      <div class="col-md-6">

            <div class="col-md-5">
              <label  class="form-label">{{'advancedPayment' | translate}}:</label>
              <input type="text"
              #advancedPayment
              formControlName="advancedPayment"
              [(ngModel)]="quotationData.advancedPayment" id="advancedPayment" name="advancedPayment" class="form-control mt-2 text-line" placeholder="" readonly>
            </div>

      </div>
    </div>


    <div class="m-3 row mb-6">

        <div class="col-md-5">
          <label  class="form-label">{{'employeeName' | translate}}:</label>
          <input type="text"
          #employeeId
          formControlName="employeeId"
          [(ngModel)]="quotationData.employee.employeeName" id="employeeName" name="employeeName" class="form-control mt-2 text-line" placeholder="" readonly>
        </div>

        <div class="col-md-5">
          <label  class="form-label">{{'customerName' | translate}}:</label>
          <input type="text"
          #customerId
          formControlName="customerId"
          [(ngModel)]="quotationData.customer.nameAr" id="nameAr" name="nameAr" class="form-control mt-2 text-line" placeholder="" readonly>
        </div>


    </div>
    <div class=""table-responsive>
   <div class="dynamicTable">
  <table mat-table [dataSource]="dataSource" formArrayName="marks">

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef> {{'serviceCode' | translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
        <mat-form-field appearance="outline" class="dynamic">
          <input matInput type="text" value="" formControlName="itemCode" size="15" [(ngModel)]="items[index].itemCode"  (change)="getItemDetailsByItemCode($event,index)" readonly >
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="itemId" >
      <th mat-header-cell *matHeaderCellDef style="display:none;"> itemId </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index" style="display:none;">
        <mat-form-field appearance="outline" class="dynamic">
          <input  matInput type="text" [(ngModel)]="items[index].itemId" formControlName="itemId" size="15" >
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container matColumnDef="itemNameAr">
      <th mat-header-cell *matHeaderCellDef> {{'serviceNameAr' | translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
        <mat-form-field appearance="outline" class="dynamic">
          <input matInput type="text" [(ngModel)]="items[index].itemNameAr" formControlName="itemNameAr" size="15" readonly>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> {{'nationality' | translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
        <mat-form-field appearance="outline" class="dynamic">
          <input matInput  type="text" [(ngModel)]="items[index].nationality" formControlName="nationality" size="15" readonly>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef> {{'profession' | translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
        <mat-form-field appearance="outline" class="dynamic">
          <input  matInput type="text" [(ngModel)]="items[index].profession" formControlName="profession" size="15" readonly>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="hourlyRate" style="white-space: nowrap;">
      <th mat-header-cell *matHeaderCellDef style="white-space: nowrap;"> {{'hourlyRate'|translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
          <mat-form-field appearance="outline" class="dynamic">
              <input matInput type="text" formControlName="salary" [(ngModel)]="items[index].salary" size="15">
          </mat-form-field>
      </td>
  </ng-container>

    <ng-container matColumnDef="quotationItemTotalValue" >
      <th mat-header-cell *matHeaderCellDef > {{'quotationItemTotalValue'|translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index" >
        <mat-form-field appearance="outline" class="dynamic">
          <input  matInput type="text"  [(ngModel)]="items[index].quotationItemTotalValue"  formControlName="quotationItemTotalValue" size="15" readonly >
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container  matColumnDef="taxRate">
      <th mat-header-cell *matHeaderCellDef> {{'taxRate'|translate}} </th>
      <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
        <mat-form-field appearance="outline" class="dynamic">
          <input matInput  type="text" [(ngModel)]="items[index].taxRate" formControlName="taxRate" size="15" readonly>
        </mat-form-field>
      </td>
    </ng-container>


  </table>
</div>
</div>
</form>

</div>
