<!--Page header-->
<div class="page-header" *ngIf="employee">
  <div class="page-leftheader">
    <div class="card-header" *ngIf="this.translate.currentLang=='en'">
      <h2 > {{employee.employeeName}}</h2>
   </div>
   <div class="card-header" *ngIf="this.translate.currentLang=='ar'">
    <h2 > {{employee.employeeNameAr}}</h2>
 </div>
  </div>
  <div class="page-rightheader ms-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard/']" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> {{'HOME' | translate}}</span></a></li>
       <li class="breadcrumb-item"><a [routerLink]="['/employees/employees/']">{{'Employees' | translate}}</a></li>
      <li class="breadcrumb-item" aria-current="page">{{'Detailsemployee' | translate}}</li>
    </ol>
  </div>
</div>
<!--End Page header-->
<div class="main" *ngIf="employee">
  <div class="column-1">
    <ul class="vertical-menu">
      <li [routerLink]="['/employees/create-employee-details/'+ employee.employeeId]" [ngClass]="{'active':viewMode =='tab01'}">{{'BasicInformation' | translate}}</li>
      <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'EmployeedInformation' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee03-documents/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab03'}">{{'Documents' | translate}}</li> -->
      <li [routerLink]="['/employees/create-employee05-address/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab05'}">{{'Address' | translate}}</li>
      <li [routerLink]="['/employees/create-employee06-qualification/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab06'}">{{'Qualifications' | translate}}</li>
      <li [routerLink]="['/employees/create-employee07-work-experience/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab07'}">{{'WorkExperiences' | translate}}</li>
      <li [routerLink]="['/employees/create-employee08-bank-account/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab08'}">{{'BankAccounts' | translate}}</li>
      <li [routerLink]="['/employees/create-employee09-contract/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab09'}">{{'Contract' | translate}}</li>
      <li [routerLink]="['/employees/create-employee10-hokome/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab10'}">{{'hokomedetails' | translate}}</li>
      <!-- <li [routerLink]="['/employees/create-employee11-employeed-information/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tab11'}">{{'EmployeedInformation' | translate}}</li> -->
      <li [routerLink]="['/employees/employee-residence-transportation/'+  employee.employeeId]" [ngClass]="{'active':viewMode =='tabResTrans'}">{{'residenceTransport' | translate}}</li>
  </ul>
  </div>
  <div class="column-2" [ngSwitch]="viewMode">
    <div *ngSwitchCase="'tab11'">
      <div class="card">
        <form
        [formGroup]="form"
        (ngSubmit)="onAddEmployeedInformation()">
          <div class="card-header">
             <h2>{{'AddEmployeedInformation' | translate}}</h2>
          </div>
          <mat-card-header>
            <button type="submit" id="add-EmployeedInformation-form" class="btn btn-dark m-3">{{'SAVE' | translate}}</button>
            <a [routerLink]="['/employees/employees']" class="btn btn-light m-3">{{'DISCARD' | translate}}</a>
          </mat-card-header>
          <div class="row m-3">
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee Name:</label> -->
             <input type="hidden" value={{employee.employeeName}} style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
            <div class="col-md-6">
             <!-- <label for="" class="form-label">Employee ID:</label> -->
             <input type="hidden" value={{employee.employeeId}} style="text-align: center;" readonly class="form-control mt-2 text-line">
            </div>
          </div>
          <!-- <div class="m-3 row">
            <div class="col-md-12">
              <label for="" class="form-label">{{'BoardOfDirectors' | translate}}</label>
              <ng-select name="deptId"   [(ngModel)]="emp11.deptId" class="form-control form-select"
              (change)="onSelect($event)"
             >
                <ng-option *ngFor="let data of departments" [value] ="data.departmentId">{{ data.departmentName }}</ng-option>
            </ng-select>
            </div>
          </div> -->



          <div class="m-3 row">
            <div class="col-md-12">
              <label for="" class="form-label">{{'SectionName' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <ng-select name="sectionId" (change)="getCode()"

              formControlName="sectionId"
              [ngClass]="{ 'is-invalid': submitted && f['sectionId'].errors }"

              [(ngModel)]="emp11.section.sectionId" class="form-control form-select"
             >
                <ng-option (onchange)="getData(data.sectionId)" *ngFor="let data of sections" [value] ="data.sectionId">{{ data.sectionName }}</ng-option>
            </ng-select>

            <div *ngIf="submitted && f['sectionId'].errors" class="invalid-feedback">
              <div *ngIf="f['sectionId'].errors['required']">{{'isReqired'|translate}}.</div>
            </div>

            </div>
          </div>
          <div class="m-3 row">
            <div class="col-md-12">
              <label for="" class="form-label">{{'CentralJobName' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <ng-select name="centralJobId"  (change)="getCode()"

              formControlName="centralId"
              [ngClass]="{ 'is-invalid': submitted && f['centralId'].errors }"

              [(ngModel)]="emp11.centralJob.centralId" class="form-control form-select" (change)="getJobCodes($event)"
             >
                <ng-option *ngFor="let data of centralJobs" [value] ="data.centralId">{{ data.centralJobName }}</ng-option>
            </ng-select>

            <div *ngIf="submitted && f['centralId'].errors" class="invalid-feedback">
              <div *ngIf="f['centralId'].errors['required']">{{'isReqired'|translate}}.</div>
            </div>

            </div>
          </div>
          <div class="m-3 row">
            <!-- <div class="col-md-12">
              <label for="" class="form-label">{{'JobTitleName' | translate}}<span style="font-size: large;color: red;">*</span></label>
              <ng-select name="jobTitleId" (change)="getJobCodes($event)"

              formControlName="jobId"
              [ngClass]="{ 'is-invalid': submitted && f['jobId'].errors }"

              [(ngModel)]="emp11.jobTitle.jobId" class="form-control form-select"
             >
                <ng-option *ngFor="let data of jobTitles" [value] ="data.jobId">{{ data.jobTitleName }}</ng-option>
            </ng-select>


            <div *ngIf="submitted && f['jobId'].errors" class="invalid-feedback">
              <div *ngIf="f['jobId'].errors['required']">{{'isReqired'|translate}}.</div>
            </div>


            </div> -->
            <div class="col-md-6">
              <label for="" class="form-label">{{'employeePartCompanyId' | translate }}:</label>
              <input readonly type="text" #employeeCode
               [(ngModel)]="emp11.employeeCode" [ngModelOptions]="{standalone: true}"
              id="employeePartCompanyId" name="employeePartCompanyId" class="form-control mt-2 text-line"
               >



            </div>



          </div>





        </form>

      </div>
      <card-footer>

        <div class="card-footer">
          <div class="card-title bg-dark p-3 text-white">
            <!-- List Of Employed Information -->
          </div>
          <div class="table-responsive table-bordered table-hover table-striped">
            <table class="table text-md-nowrap" id="myTable1">
              <thead>
                <tr>
                  <!-- <th class="wd-15p border-bottom-0">{{'departmentName' | translate}}</th> -->
                  <th class="wd-15p border-bottom-0">{{'SectionName' | translate}}</th>
                  <th class="wd-15p border-bottom-0">{{'CentralJobName' | translate}}</th>
                  <!-- <th class="wd-15p border-bottom-0">{{'JobTitleName' | translate}}</th> -->
                  <th class="wd-15p border-bottom-0">{{'Action' | translate}}</th>
                </tr>

              </thead>
              <tbody>

                <tr *ngFor="let empEmployed of employedInfo">
                  <!-- <td>{{ empBank.employee.employeeName }}</td> -->
                  <!-- <td>{{ empEmployed.department.departmentName }}</td> -->
                  <td>{{ empEmployed.section.sectionName}}</td>
                  <td>{{ empEmployed.centralJob.centralJobName }}</td>
                  <!-- <td>{{ empEmployed.jobTitle.jobTitleName}}</td> -->
                  <td class="align-middle">
                    <div class="btn-group align-top">
                      <button  class="btn btn-sm btn-light btn-svg" type="button" (click)="deleteEmployeeEmployed(empEmployed.empId)" ><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg></button>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </card-footer>
    </div>
  </div>
  </div>
