table {
    width: 100%;
}

th.mat-header-cell,
td.mat-footer-cell {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-align: center !important;
}

td.mat-cell,
td.mat-footer-cell {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    text-align: center !important;
}

@media print {
    h1 {
        color: rgba(1, 1, 3, 0.89);
    }
}
