<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h2 class="page-title"> {{'subCompany' | translate}} </h2>
	</div>
	<div class="page-rightheader ms-auto d-lg-flex d-none">
		<ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard-hr/']" class="d-flex"><svg class="svg-icon"
        xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
        <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">
          {{'HOME' | translate}}</span></a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/companies/companies/']">{{'subCompany' | translate}}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{'VIEW' | translate}}</li>
		</ol>
	</div>
</div>
<!--End Page header-->

<!-- row opened -->
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header pb-0">
        <a [routerLink]="['/companies/create-company']" class="btn btn-dark"><i class="fe fe-plus"></i>
          {{'ADD' | translate}}</a>
        &nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/companies/print-companies']" class="btn btn-dark"><i class="fe fe-plus"></i>
          {{'PREVIEW' | translate}}</a>
      </div>
      <div class="card-body">
        <div class="search-container">
          <mat-form-field appearance="outline" style="width:50%;">
            <input matInput placeholder="{{'SEARCH' | translate}}" autocomplete="off"
            (keyup)="filterData($event)">
          </mat-form-field>
        </div>
        <div class="table-responsive table-bordered table-hover table-striped">

          <table mat-table  [dataSource]="companies">
            <ng-container matColumnDef="companyName">
              <th mat-header-cell  *matHeaderCellDef style="text-align: center;">{{'CompanyName' | translate}}</th>
              <th mat-cell *matCellDef="let company" style="text-align: center;">{{ company.companyName }}</th>
            </ng-container>
            <ng-container matColumnDef="companyPrefix">
              <th mat-header-cell  *matHeaderCellDef style="text-align: center;">{{'CompanyPrefixName' | translate}}</th>
              <th mat-cell *matCellDef="let company" style="text-align: center;">{{ company.companyPrefix }}</th>
            </ng-container>
            <ng-container matColumnDef="commercialId">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{'CommercialId' | translate}}</th>
              <th mat-cell *matCellDef="let company" style="text-align: center;">{{ company.commercialId }}</th>
            </ng-container>
            <ng-container matColumnDef="partners">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{'Partners' | translate}}</th>
              <th mat-cell *matCellDef="let company" id="partners" style="text-align: center;"><span *ngFor="let partner of company.partners">{{ partner }}<br></span></th>
            </ng-container>

            <ng-container matColumnDef="actions" >
              <th mat-header-cell  *matHeaderCellDef style="text-align: center;"> {{'ACTIONS' | translate}} </th>

                <th  mat-cell *matCellDef="let company" style="text-align: center; width: 30%;">
                  <button class="btn btn-gray m-1" (click) = "onEditCompanyById(company.companyId)" ><i class="fe fe-edit me-2"></i> {{'EDIT' | translate}}</button>
                  <button class="btn btn-dark" (click) = "onDeleteCompanyById(company.companyId)" ><i class="fe fe-trash me-2"></i> {{'Delete' | translate}}</button>
                </th>

            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25,50, 100]"
            >
            </mat-paginator>

        </div>
      </div>
    </div>
</div>
</div>


	<!--div-->
